.switch input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.switchinternal {
    background-color: #3d3d3d;
    width: 4em;
    height: 2em;
    position: absolute;
    margin: 10px;
    border: 2px solid black;
}
.switch input:checked ~ .switchinternal {
    background-color: #7f7f7f;
    
}

.switchtab {
    position: absolute;
    top: calc(-0.5em - 2px);
    left: calc(-0.75em - 2px);
    width: 1.5em;
    height: 3em;
    background-color: #c6c6c6;
    border: 2px solid black;
}
.switch:hover .switchinternal {
    border: 2px solid white;
    box-shadow: 0 3000px rgba(0, 255, 0, 0.4) inset;
}
.switch:hover .switchinternal .switchtab {
    border: 2px solid white;
    box-shadow: 0 3000px rgba(0, 255, 0, 0.4) inset;
}
.switch input:checked ~ .switchinternal .switchtab {
    /* top: calc(-0.5em + -10px); */
    left: 3.25em;
}
.switchdash {
    width: 0.4em;
    height: 1.3em;
    background-color: #7f7f7f;
    align-self: center;
    margin: 0;
    left: 1.8em;
    top: 0.35em;
    border: none;
    position: absolute;
}
.switch input:checked ~ .switchinternal .switchdash {
    background-color: #3d3d3d;
}

.switchtabborder {
    border-right: #656465 2px solid;
    border-top: #f7f7f7 2px solid;
    border-left: #f7f7f7 2px solid;
    border-bottom: #656465 2px solid;
    z-index: 1;
    display: block;
    height: -webkit-fill-available;
}
html {
    background-color: #111;
}